<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Hugo Donkerbroek">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/navbar.css}" href=../static/css/navbar.css>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
    <link rel="stylesheet" th:href="@{/css/contact.css}" href="../static/css/contact.css">
    <link rel="stylesheet" th:href="@{/css/adduser.css}" href="../static/css/adduser.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<body>

<div class="banner-image">
    <div class="banner-text">
        <h1>Food Diary</h1>
        <p><strong>Simple and Resourceful</strong></p>
    </div>
</div>

<div th:insert="template :: navbar"></div>

<div class="container contact">
    <div class="row">
        <div class="col-md-3">
            <div class="contact-info">
                <h2 th:text="#{newuserform.header.text}"></h2>
                <h4 th:text="#{newuserform.header.message}"></h4>
            </div>
        </div>
        <div class="col-md-9">
            <div class="contact-form">
                <form action="#" th:action="@{/adduser}" th:object="${newuserform}" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="user_code" th:text="#{newuserform.form.usercode}"></label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{user_code}" class="form-control" id="user_code" placeholder="Enter User Code" name="user_code" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="password" th:text="#{newuserform.form.password}"></label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Enter Password" name="password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="role" th:text="#{newuserform.form.role}"></label>
                        <div class="col-sm-10">
                            <select class="form-control" id="role" th:field="*{role}">
                                <option th:each="role : ${T(nl.bioinf.fooddiary.model.newuser.Role).values()}"
                                        th:value="${role}"
                                        th:text="${role}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" th:text="#{newuserform.form.submit}"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:insert="template :: footer"></div>
</body>
</html>