<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Adding New Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Tobias Ham">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/newproductform.css}" href="../static/css/newproductform.css">
    <link rel="stylesheet" th:href="@{/css/home.css}" href="../static/css/home.css">
    <link rel="stylesheet" th:href="@{/css/navbar.css}" href="../static/css/navbar.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<div class="banner-image">
    <div class="banner-text">
        <h1>Food Diary</h1>
        <p><strong>Simple and Resourceful</strong></p>
    </div>
</div>

<div th:insert="template :: navbar"></div>

<div class="container addnewproduct">
    <div class="row">
        <div class="col-md-3">
            <div class="newproduct-info">
                <h2 th:text="#{newproductformhead.message}"></h2>
                <h6 th:text="#{newproductform.message}"></h6>
            </div>
        </div>

        <div class="col-md-9">
            <div class="addproduct-form">
                <form action="#" th:action="@{/addednewproduct}" enctype="multipart/form-data" th:object="${newproductform}" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-3" th:text="#{form.date}"></label>
                    <div class="col-sm-6">
                        <input type="date" th:field="*{date}" class="form-control" id="date" name="date">
                        <td class="form-entry-error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></td>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="time_of_day" th:text="#{form.time_of_day}"></label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{time_of_day}" class="form-control" id="time_of_day" placeholder="13:30" name="time_of_day">
                        <td class="form-entry-error" th:if="${#fields.hasErrors('time_of_day')}" th:errors="*{time_of_day}"></td>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="mealtime" th:text="#{form.mealtime}"></label>
                    <div class="col-sm-6">
                        <select id="mealtime" class="form-control" name="mealtime" th:field="*{mealtime}">
                            <option value="before breakfast" th:text="#{form.mealtime.beforebreakfast}"></option>
                            <option value="breakfast" th:text="#{form.mealtime.breakfast}"></option>
                            <option value="after breakfast"th:text="#{form.mealtime.afterbreakfast}"></option>
                            <option value="before lunch" th:text="#{form.mealtime.beforelunch}"></option>
                            <option value="lunch"th:text="#{form.mealtime.lunch}"></option>
                            <option value="after lunch"th:text="#{form.mealtime.afterlunch}"></option>
                            <option value="before dinner" th:text="#{form.mealtime.beforedinner}"></option>
                            <option value="dinner" th:text="#{form.mealtime.dinner}"></option>
                            <option value="after dinner"th:text="#{form.mealtime.afterdinner}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="description" th:text="#{form.description}"></label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Quacker Crueslie 4 nuts" name="description">
                        <td class="form-entry-error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></td>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="quantity" th:text="#{form.quantity}"></label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{quantity}" class="form-control" id="quantity" placeholder="100gr / 100ml" name="quantity">
                        <td class="form-entry-error" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></td>
                    </div>
                </div>

                <div class="form=group">
                    <label class="control-label col-sm-3" th:text="#{form.addpicture}"></label>
                    <div class="col-sm-6">
                        <input type="file" name="newProductPicture" class="form-control" id="newProductPicture" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<body>
<div th:insert="template :: footer"></div>
</body>
</html>